<html>
<head><title>Bad login</title>
<link rel=stylesheet type=text/css href=/style.css />
</head>
<body>
{{user}} and {{password}} are not a good login.
<form action=/login method=get>
<input name=user id=user type=text>User</input><input name=password id=password type=password>Password</input>
<input id=login type=submit></input>
</form>
</body>
</html>
