<html><head><title>Send hooks, get stuff.</title>
<link rel=icon href=/favicon.ico />
<link rel=stylesheet type=text/css href=/style.css />
<meta name=description content='Use hooki.me to get things from people' />
</head>
<body>
<h1><u>Create Hook</u></h1>
<form action=/hookmit method=post>
<input name=user value={{user}} type=hidden></input>
<input name=text id=text type=text>Enter hook</input>
<input type=submit value='Send Hook'>Send hook</input>
</form>
{% for hook in hooks reversed %}
<blockquote>{{ hook|escape }}</blockquote>
{% endfor %}
</body>
</html>
